[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = Justin Hong
	email = jjhong922@berkeley.edu
[push]
	default = simple
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
